<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
 -->
 <h1><%= @result && @found["found"] ? "word exists" : "word doesn't exist" %></h1>
<%= link_to "Play again", new_path %>
